// ===== for Banner =========
@keyframes clockwise{
  0% { transform: rotateZ(0deg);}
  100% { transform: rotateZ(360deg);}
}
@keyframes counterClockwise{
  0% { transform: rotateZ(0deg);}
  100% { transform: rotateZ(-360deg);}
}
@keyframes toLeft{
  0% {left: -100%;}
  10% {left: 200%;}
  11% {left: -100%; opacity: 0}
  100% {left: -100%; opacity: 0}
}
@keyframes toRight{
  0% {left: 200%;}
  10% {left: -100%;}
  11% {left: 200%; opacity: 0}
  100% {left: 200%; opacity: 0}
}


