// ===== for Banner =========
@keyframes clockwise{
  0% { transform: rotateZ(0deg);}
  100% { transform: rotateZ(360deg);}
}
@keyframes counterClockwise{
  0% { transform: rotateZ(0deg);}
  100% { transform: rotateZ(-360deg);}
}
@keyframes toRight{
  0% {left: -100%;}
  10% {left: 200%;}
  11% {left: -100%; opacity: 0}
  100% {left: -100%; opacity: 0}
}
@keyframes toLeft{
  0% {left: 200%;}
  10% {left: -100%;}
  11% {left: 200%; opacity: 0}
  100% {left: 200%; opacity: 0}
}
@keyframes flashSeven{
  0%{
    opacity: .7;
  }
  10%{
    opacity: 1;
  }
  20%{
    opacity: .7;
  }
  100%{
    opacity: .7;
  }
}

@keyframes flashThree{
  0%{
    opacity: .3;
  }
  10%{
    opacity: 1;
  }
  20%{
    opacity: .3;
  }
  100%{
    opacity: .3;
  }
}

@keyframes flashOne{
  0%{
    opacity: .1;
  }
  10%{
    opacity: 1;
  }
  20%{
    opacity: .1;
  }
  100%{
    opacity: .1;
  }
}

@keyframes sheen {
  0%{}
  5% {
    transform: rotateZ(60deg) translate(7em, -18em);
  }
  100% {
    transform: rotateZ(60deg) translate(7em, -18em);
  }
}
