//base
$wrap_w: 1366px;

//font-family
$main_font:'PingFangTC', sans-serif;
$main_font_r:'PingFangTC-Regular', sans-serif;
$main_font_Light:'PingFangTC-Light', sans-serif;
$main_font_Thin:'PingFangTC-Thin', sans-serif;
$main_font_Semibold:'PingFangTC-Semibold', sans-serif;

